# Database
# Nota: el contenedor Docker de PostgreSQL expone el puerto 5433 en el host
# para evitar conflicto con una instancia local de PostgreSQL en 5432
DATABASE_URL="postgresql://cuartel_user:MiPassword123@localhost:5433/cuartel_db"

# JWT
JWT_SECRET="your-secret-key-minimum-32-characters-long-for-production"
JWT_EXPIRES_IN="1h"
REFRESH_TOKEN_EXPIRES_IN="7d"

# App
NODE_ENV="development"
PORT=3000
API_URL="http://localhost:3000"

# Logs
LOG_LEVEL="debug"
